.DS_Store
.idea
*.iml
/cql-engine/src/generated
*.class
target
.project
.settings
.classpath
.flattened-pom.xml
org.eclipse.m2e.core.prefs
dependency-reduced-pom.xml

core.*
heapdump.*
javacore.*
Snap.*
