.DS_Store
.idea
*.iml
*.class
target
.project
.settings
.classpath
.flattened-pom.xml
org.eclipse.m2e.core.prefs
dependency-reduced-pom.xml

*.versionsBackup

core.*
heapdump.*
javacore.*
Snap.*
jitdump.*
